@import 'leaflet/dist/leaflet.css';
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 10, 10, 12;
  --background-end-rgb: 15, 15, 20;
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-start-rgb));
  min-height: 100vh;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* Fix for leaflet map z-index issues with tailwind */
.leaflet-container {
  z-index: 10;
}

.leaflet-control-container .leaflet-routing-container {
  display: none !important;
}

/* Dark mode map tiles override if we use OSM */
.dark-map-tiles {
  filter: invert(100%) hue-rotate(180deg) brightness(95%) contrast(90%);
}
